<%= turbo_frame_tag dom_id(message) do %>
  <div class="flex items-end <%= message.user == current_user ? 'justify-end' : '' %>">
    <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 <%= message.user == current_user ? 'order-1 items-end' : 'order-2 items-start' %>">
      <div>
        <span class="px-4 py-2 rounded-lg inline-block <%= message.user == current_user ? 'bg-blue-600 text-white' : 'bg-gray-300 text-gray-600' %>">
          <%= message.inspect %>
          <%= message.content %>
        </span>
      </div>
    </div>
    <img src="https://images.unsplash.com/photo-1590031905470-a1a1feacbb0b?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=3&amp;w=144&amp;h=144" alt="My profile" class="w-6 h-6 rounded-full <%= message.user == current_user ? 'order-2' : 'order-1' %>">
  </div>
<% end %>
