<%= turbo_frame_tag dom_id(message), data: { user_id: message.user.id, controller: 'message-ui' }, class: 'flex items-end' do %>
  <div id="message-section"
       class="flex flex-col space-y-2 text-xs max-w-xs mx-2"
       data-message-ui-target="messageSection">
    <div>
      <span class="px-4 py-2 rounded-lg inline-block"
            data-message-ui-target="messageSpan">
        <%= message.content %>
        <% if message.attachment.attached? %>
          <%= link_to "Click to view file: #{message.attachment.filename}", rails_blob_path(message.attachment), target:"_blank", class: "hover:underline block text-orange-500" %>
        <% end %>
      </span>
    </div>
  </div>
  <%= image_tag user_avatar(message.user), class: 'w-6 h-6 rounded-full', data: { message_ui_target: 'messageImg' } %>
  <%= message.user.email%>
<% end %>
