<div class="flex flex-col items-center justify-center w-full mt-10 mx-auto">
  <%= render @profile %>
  <div class="flex gap-8 p-5">
    <div class="w-3/4 p-2">
      <div class="flex items-center gap-5 mb-5 w-full">
        <%= image_tag user_avatar(current_user, 80), class: 'w-20 h-20 rounded-full ring-2 ring-blue-500', alt: "Avatar of #{current_user.full_name}" %>
        <div>
          <p class="mt-2 text-black dark:text-gray-200 font-bold text-2xl overflow-hidden overflow-ellipsis">
            <%= current_user.first_name if current_user.first_name %>
            <%= current_user.last_name if current_user.last_name %>
          </p>
          <p class="mt-2 text-black dark:text-gray-200 font-bold text-2xl overflow-hidden overflow-ellipsis">
            <%= current_user.email if !current_user.first_name || !current_user.last_name %>
          </p>
          <span class="bg-blue-500 text-white text-xs font-medium px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 truncate"><%= current_user.role.capitalize %></span>
        </div>
      </div>
      <div>
        <h2 class="text-black dark:text-gray-200 font-bold">Bio</h2>
        <p class="mt-2 text-black dark:text-gray-200"><%= @profile.bio %></p>
      </div>
      <%= link_to "Edit this profile", edit_user_profile_path(@profile), class: "mt-2 py-3 px-5 bg-blue-500 text-white rounded-lg inline-block font-medium" %>
      <%= link_to "Home", root_path, class: "mt-2 py-3 px-5 bg-blue-500 text-white rounded-lg inline-block font-medium" %>
    </div>
    <div class="flex flex-col gap-6">
      <div>
        <h2 class="text-black dark:text-gray-200 font-bold">Email:</h2>
        <p class="text-black dark:text-gray-200"><%= current_user.email %></p>
      </div>
      <div>
        <h2 class="text-black dark:text-gray-200 font-bold">Date of Birth:</h2>
        <p class="text-black dark:text-gray-200"><%= @profile.date_of_birth.strftime("%B %d, %Y") %></p>
      </div>
      <div>
        <h2 class="text-black dark:text-gray-200 font-bold">Phone:</h2>
        <p class="text-black dark:text-gray-200"><%= @profile.phone_number %></p>
      </div>
      <div>
        <h2 class="text-black dark:text-gray-200 font-bold">Address:</h2>
        <p class="text-black dark:text-gray-200">
          <%= @profile.street_address %>,
          <%= @profile.city %>,
          <%= @profile.state %>,
          <%= @profile.zip_code %>
        </p>
      </div>
    </div>
  </div>
</div>
