<section id="conversations" class="dark:bg-gray-900 max-h-100svh">
  <%= turbo_stream_from 'agent_conversations' %>
  <div class="mx-auto">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
      <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4 bg-gray-200 dark:bg-gray-900">
        <div class="w-full md:w-1/2">
          <%= search_form_for @q, class: 'flex items-center' do |f| %>
            <%= f.label :q, "Search", class: 'sr-only' %>
            <div class="relative w-full">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
              </div>
              <%= f.search_field :status_or_groups_or_sender_first_name_or_sender_last_name_or_receiver_first_name_or_receiver_last_name_cont, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500", placeholder: 'Search conversations' %>
            </div>
            <%= f.submit "Submit", class: 'hidden' %>
          <% end %>
        </div>
        <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
          <div class="flex items-center space-x-3 w-full md:w-auto">
            <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
              </svg>
              Filter
              <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
              </svg>
            </button>
            <div id="filterDropdown" class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
              <ul class="space-y-2 text-sm" aria-labelledby="filterDropdownButton">
                <li class="flex items-center">
                  <%= link_to "My Conversations", conversations_path(q: { receiver_id_eq: current_user.id }), class: 'w-full text-center hover:text-primary-700' %>
                </li>
                <li class="flex items-center">
                  <%= link_to "All Conversations", conversations_path, class: 'w-full text-center hover:text-primary-700' %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-900 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-4 py-3 whitespace-nowrap"><%= sort_link(@q, :status)%></th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap"><%= sort_link(@q, :groups, "Employer Group")%></th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap"><%= sort_link(@q, :sender, "Client Name")%></th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap"><%= sort_link(@q, :receiver, "Assignee")%></th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap"><%= sort_link(@q, :created_at)%></th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap"><%= sort_link(@q, :updated_at)%></th>
              <th scope="col" class="px-4 py-3 whitespace-nowrap">
                <span class="sr-only">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render @conversations, user: current_user %>
          </tbody>
        </table>
      </div>
      <div class='bg-gray-100 dark:bg-gray-900 p-2'>
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      </div>
    </div>
  </div>
</section>
