<%= turbo_stream_from @conversation %>
<%= turbo_frame_tag dom_id(@conversation), class: "flex-1 p:2 sm:p-6 justify-between flex flex-col h-screen" do %>
  <div class="flex sm:items-center justify-between py-3 border-b-2 border-gray-200">
    <div class="flex flex-col space-x-4">
      <%= render 'conversations/user_conversation_details', conversation: @conversation %>
      <div class="flex items-center">
        <span class="text-lg text-gray-700">Group:</span>
        <span class="ml-2 text-lg text-gray-600 capitalize"><%= @conversation.groups %></span>
      </div>
      <div class="flex items-center">
        <span class="text-lg text-gray-700">Status:</span>
        <span id="conversation_status" class="ml-2 text-lg text-gray-600 capitalize"><%= @conversation.status %></span>
      </div>
      <div class="flex items-center">
        <span class="text-lg text-gray-700">ID:</span>
        <span class="ml-2 text-lg text-gray-600"><%= @conversation.id %></span>
      </div>
    </div>
    <div class="flex items-center space-x-2">
      <%# search icon %>
      <button type="button" class="inline-flex items-center justify-center rounded-lg border h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </button>
      <%# heart icon %>
      <button type="button" class="inline-flex items-center justify-center rounded-lg border h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
        </svg>
      </button>
      <%# Leave chat button %>
      <%= button_to "LEAVE", conversation_path(@conversation), method: :patch, params: { conversation: { status: "completed" } }, data: {turbo_frame: (current_user.role == 'user' ? nil : '_top')}, class:"inline-flex items-center justify-center rounded-lg border h-10 px-2 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none cursor-pointer" %>
    </div>
  </div>
  <div id="messages"
       class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch h-full" data-controller="chat-scroll" data-action="turbo:after-stream-render->chat-scroll#scroll" data-current-user="<%= current_user.id %>">
    <div class="flex-grow"></div>
    <% @messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>
  <%= render 'messages/form', message: @message, conversation: @conversation, user: current_user %>
<% end %>
