<%= turbo_stream_from @conversation %>
<%= turbo_frame_tag @conversation do %>
  <%= render @conversation %>
  <div class="flex">
    <%= link_to "Edit this conversation", edit_conversation_path(@conversation), class: "bg-blue-700 text-white px-4 py-2 rounded-lg" %>
    <%= button_to "Destroy this conversation", conversation_path(@conversation), method: :delete, class: "bg-blue-700 text-white px-4 py-2 rounded-lg" %>
    <%= link_to sanitize("&larr; Back to conversations"), conversations_path, class: "bg-blue-700 text-white px-4 py-2 rounded-lg", data: { turbo_frame: "_top"} %>
  </div>
<% end %>
<div id="make_this_great">
  <div id="messages">
    <%= render @conversation.messages %>
  </div>
  <%= render 'messages/form', message: @message, conversation: @conversation %>
</div>
<%# need to make this look better make make_this_great div and look better better -- easy made %>
<%# learn rails bugging first %>
