<!DOCTYPE html>
<html>
  <head>
    <title>Employer Access</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "https://flowbite.s3.amazonaws.com/logo.svg"%>
  </head>
  <body class="flex flex-col bg-gray-50 dark:bg-gray-900 opacity-0 duration-300 min-h-screen">
    <%= render "navbar/navbar" %>
    <div id="flash">
      <%= render "layouts/flash" %>
    </div>
    <main class="flex flex-col flex-grow">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
